{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Your Title</title>

    <link href="{% static 'css/fonts.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/dependencies/swiper.min.css' %}" rel="stylesheet"/>
    <link
            href="{% static 'css/dependencies/nouislider.min.css' %}"
            rel="stylesheet"
    />
    <link href="{% static 'css/theme.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/custom.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/app.css' %}" rel="stylesheet"/>

    <script src="{% static 'scripts/mount.js' %}"></script>
    <script defer src="{% static 'scripts/dependencies/flowbite.min.js' %}"></script>
    <script defer src="{% static 'scripts/dependencies/swiper.min.js' %}"></script>
    <script
            defer
            src="{% static 'scripts/dependencies/nouislider.min.js' %}"
    ></script>
    <script defer src="{% static 'scripts/app.js' %}"></script>
    <script defer src="{% static 'scripts/custom.js' %}"></script>
</head>
<body>


{% include "components/svg-symbols.html" %}
{% include "components/header/main-header.html" %}

{% block content %}

{% endblock %}
{% include "components/footer.html" %}

<script>
    const addSearchFunctionality = (searchInput, itemList) => {
        searchInput.addEventListener("input", function () {
            const searchTerm = searchInput.value.trim().toLowerCase();
            const items = itemList.querySelectorAll("li:not(:first-child)"); // Exclude the first <li> with the search input.

            items.forEach(function (item) {
                const brandName = item
                    .querySelector("span:first-child")
                    .textContent.toLowerCase();
                const brandCode = item
                    .querySelector("span:last-child")
                    .textContent.toLowerCase();

                if (
                    brandName.includes(searchTerm) ||
                    brandCode.includes(searchTerm)
                ) {
                    item.style.display = "block";
                } else {
                    item.style.display = "none";
                }
            });
        });
    };
    const brandListSearchInputDesktop = document.getElementById(
        "brandListFilterDesktopSearchInput",
    );
    const brandListDesktop = document.getElementById(
        "brandListFilterDesktop",
    );

    const brandListSearchInputMobile = document.getElementById(
        "brandListFilterMobileSearchInput",
    );
    const brandListMobile = document.getElementById("brandListFilterMobile");

    const colorListSearchInputDesktop = document.getElementById(
        "colorListFilterDesktopSearchInput",
    );
    const colorListDesktop = document.getElementById(
        "colorListFilterDesktop",
    );

    const colorListSearchInputMobile = document.getElementById(
        "colorListFilterMobileSearchInput",
    );
    const colorListMobile = document.getElementById("colorListFilterMobile");

    function showChildren(categoryId) {
        // Hide all child category containers
        document.querySelectorAll('.child-category-list').forEach(function (element) {
            element.classList.add('hidden');
        });

        // Show the relevant child category container
        const targetElement = document.getElementById('children-of-' + categoryId);
        if (targetElement) {
            targetElement.classList.remove('hidden');
        }
    }


    addSearchFunctionality(brandListSearchInputDesktop, brandListDesktop);
    addSearchFunctionality(brandListSearchInputMobile, brandListMobile);

    addSearchFunctionality(colorListSearchInputDesktop, colorListDesktop);
    addSearchFunctionality(colorListSearchInputMobile, colorListMobile);
</script>
</body>
</html>


